.landing {
    height: 100vh; /* equivalent to h-screen */
    display: flex;
    flex-direction: column;
    background-color: #fff; /* equivalent to bg-white */
  }

  .logos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: calc(25vh - 20px); 
    margin-bottom: 40px;
  }
  
  .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebeff5;
    padding: 20px; /* Add padding instead of margin */
    gap: 20px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 250px;
  }